<ion-header [translucent]="true">
  <!--<app-header></app-header>-->
</ion-header>

<ion-content [fullscreen]="true">
  <div class="dashboard-layout">

    <!-- Columna izquierda: menú lateral -->
    <div class="first-content">
      <app-side-menu></app-side-menu>
    </div>

    <!-- Columna derecha: contenido principal -->
    <div class="main-content">
      <app-header></app-header>
      <div class="summary-cards">
        <div class="card">
          <div class="page-title"></div>
        </div>
        <div class="card">
          <ion-button class="button-transacciones">+ Añadir transacción</ion-button>
        </div>
      </div>

      <div class="chart-section">
        <div class="chart-placeholder">
          <ion-grid class="transacciones-grid">
            <ion-row class="header-row">
              <ion-col><strong>Fecha</strong></ion-col>
              <ion-col><strong>Cuenta</strong></ion-col>
              <ion-col><strong>Cantidad</strong></ion-col>
              <ion-col><strong>Categoría</strong></ion-col>
              <ion-col><strong>Descripción</strong></ion-col>
            </ion-row>

            <ion-row *ngFor="let transaccion of transacciones">
              <ion-col>{{ transaccion.fecha }}</ion-col>
              <ion-col>{{ transaccion.cuenta }}</ion-col>
              <ion-col>{{ transaccion.cantidad }}</ion-col>
              <ion-col>{{ transaccion.categoria }}</ion-col>
              <ion-col>{{ transaccion.descripcion }}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

    </div>
  </div>
</ion-content>
