<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="dashboard-layout">

    <div class="first-content">
      <app-side-menu></app-side-menu>
    </div>

    <div class="main-content">
      <div *ngIf="isLoading" class="transactions-header skeleton-header">
        <div class="header-left">
          <div class="skeleton h-8 w-2/3 mb-2"></div>
          <div class="skeleton h-4 w-1/2"></div>
        </div>
        <div class="header-right">
          <div class="skeleton h-10 w-40"></div>
          <div class="skeleton h-10 w-40 ml-2"></div>
        </div>
      </div>

      <div *ngIf="!isLoading" class="transactions-header">
        <div class="header-left">
          <h1>Transactions</h1>
          <p>Manage your income and expenses.</p>
        </div>
        <div class="header-right">
          <ion-button>
            <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
            Import from CSV/Excel
          </ion-button>
          <ion-button color="success" routerLink="/add-transaction">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Add Transaction
          </ion-button>
        </div>
      </div>

      <div *ngIf="isLoading" class="transactions-filter skeleton-filter">
        <div class="search-bar">
          <div class="skeleton h-12 w-full"></div>
        </div>
        <div class="category-filter">
          <div class="skeleton h-12 w-full"></div>
        </div>
      </div>

      <div *ngIf="!isLoading" class="transactions-filter">
        <div class="search-bar">
          <ion-searchbar placeholder="Search transactions..."></ion-searchbar>
        </div>
        <div class="category-filter">
          <ion-select placeholder="All Categories">
            <ion-select-option value="all">All Categories</ion-select-option>
            <ion-select-option value="food">Food</ion-select-option>
            <ion-select-option value="transport">Transport</ion-select-option>
            <ion-select-option value="housing">Housing</ion-select-option>
            <ion-select-option value="utilities">Utilities</ion-select-option>
            <ion-select-option value="entertainment">Entertainment</ion-select-option>
            <ion-select-option value="healthcare">Healthcare</ion-select-option>
            <ion-select-option value="education">Education</ion-select-option>
            <ion-select-option value="salary">Salary</ion-select-option>
            <ion-select-option value="investment">Investment</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </div>
      </div>

      <div *ngIf="isLoading" class="transactions-list skeleton-list">
        <ion-grid class="transacciones-grid">
          <ion-row class="header-row">
            <ion-col size="2"><div class="skeleton h-4 w-3/4"></div></ion-col>
            <ion-col size="3"><div class="skeleton h-4 w-3/4"></div></ion-col>
            <ion-col size="3"><div class="skeleton h-4 w-3/4"></div></ion-col>
            <ion-col><div class="skeleton h-4 w-full"></div></ion-col>
            <ion-col size="2" class="ion-text-right"><div class="skeleton h-4 w-3/4"></div></ion-col>
            <ion-col size="1" class="ion-text-right"><div class="skeleton h-4 w-3/4"></div></ion-col>
          </ion-row>
          <ion-row *ngFor="let i of [1,2,3,4,5,6]">
            <ion-col size="2"><div class="skeleton h-4 w-full"></div></ion-col>
            <ion-col size="3"><div class="skeleton h-4 w-full"></div></ion-col>
            <ion-col size="3"><div class="skeleton h-4 w-full"></div></ion-col>
            <ion-col><div class="skeleton h-4 w-full"></div></ion-col>
            <ion-col size="2" class="ion-text-right"><div class="skeleton h-4 w-full"></div></ion-col>
            <ion-col size="1" class="ion-text-right"><div class="skeleton h-4 w-full"></div></ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="!isLoading" class="transactions-list">
        <ion-grid class="transacciones-grid">
          <ion-row class="header-row">
            <ion-col size="2"><strong>Type</strong></ion-col>
            <ion-col size="3"><strong>Date</strong></ion-col>
            <ion-col size="3"><strong>Category</strong></ion-col>
            <ion-col><strong>Description</strong></ion-col>
            <ion-col size="2" class="ion-text-right"><strong>Amount</strong></ion-col>
            <ion-col size="1" class="ion-text-right"><strong>Actions</strong></ion-col>
          </ion-row>

          <ion-row *ngFor="let transaccion of transacciones">
            <ion-col size="2">
              <ion-icon *ngIf="transaccion.tipo === 'Expense'" color="danger" name="arrow-down-circle"></ion-icon>
              <ion-icon *ngIf="transaccion.tipo === 'Income'" color="success" name="arrow-up-circle"></ion-icon>
              {{ transaccion.tipo }}
            </ion-col>
            <ion-col size="3">{{ transaccion.fecha }}</ion-col>
            <ion-col size="3">{{ transaccion.categoria }}</ion-col>
            <ion-col>{{ transaccion.descripcion }}</ion-col>
            <ion-col size="2" class="ion-text-right"
                     [ngClass]="{'expense': transaccion.tipo === 'Expense', 'income': transaccion.tipo === 'Income'}">
              {{ transaccion.cantidad }}
            </ion-col>
            <ion-col size="1" class="ion-text-right">
              <ion-button size="small" (click)="mostrarOpciones(transaccion, $event)">
                <ion-icon name="ellipsis-vertical"></ion-icon>
              </ion-button>

              <ion-popover [trigger]="'ellipsis-vertical'" [event]="popoverEvent" [dismissOnSelect]="true">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item button (click)="editarTransaccion(transaccion)">
                        <ion-icon slot="start" name="pencil-outline"></ion-icon>
                        Edit
                      </ion-item>
                      <ion-item button color="danger" (click)="eliminarTransaccion(transaccion)">
                        <ion-icon slot="start" name="trash-outline"></ion-icon>
                        Delete
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div *ngIf="!isLoading && transacciones.length === 0" class="no-transactions">
          <p>No transactions found. Add your first transaction!</p>
          <ion-button color="success" routerLink="/add-transaction">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Add Transaction
          </ion-button>
        </div>
      </div>

    </div>
  </div>
</ion-content>
