<ion-header class="side-menu-header" [class.collapsed]="isCollapsed">
  <ion-toolbar>
    <div class="logo-area" (click)="goTo('/dashboard')">
      <ion-img src="../../../assets/icon/Header.png" alt="App Logo" class="header-logo-image"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="side-menu-content" [class.collapsed]="isCollapsed">
  <ion-list lines="none" class="main-nav-list">
    <ion-item
      *ngFor="let item of mainMenuItems"
      (click)="goTo(item.path, $event)"
      button
      detail="false"
      class="menu-item"
      [class.active-item]="item.active"
      [attr.title]="isCollapsed ? item.title : null"
    >
      <ion-icon [name]="item.icon" slot="start" aria-hidden="true"></ion-icon>
      <ion-label class="menu-item-label" [class.hidden]="isCollapsed">{{ item.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="side-menu-footer" [class.collapsed]="isCollapsed">
  <ion-list lines="none" class="footer-elements-list">
    <ion-item
      *ngFor="let item of footerMenuItems"
      (click)="goTo(item.path, $event)"
      button
      detail="false"
      class="menu-item" [class.active-item]="item.active"
      [attr.title]="isCollapsed ? item.title : null"
    >
      <ion-icon [name]="item.icon" slot="start" aria-hidden="true"></ion-icon>
      <ion-label class="menu-item-label" [class.hidden]="isCollapsed">{{ item.title }}</ion-label>
    </ion-item>

    <div class="footer-action-item user-profile-item" (click)="goTo('/configuracion')"> <ion-avatar slot="start" class="user-avatar">
      <img [src]="currentUser.avatarUrl" alt="User Avatar" />
    </ion-avatar>
      <span class="footer-action-label" [class.hidden]="isCollapsed">{{ currentUser.name }}</span>
    </div>

    <div class="footer-action-item logout-item" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start" aria-hidden="true"></ion-icon>
      <span class="footer-action-label" [class.hidden]="isCollapsed">Cerrar sesión</span>
    </div>
  </ion-list>
</ion-footer>
