<ion-content>
  <div class="option-box">
    <ion-icon name="clipboard-sharp" size="large"></ion-icon>
    <div class="text-container">
      <p>Dashboard</p>
    </div>
  </div>
  <div class="option-box">
    <ion-icon name="git-compare-sharp" size="large"></ion-icon>
    <div class="text-container">
      <p>Transacciones</p>
    </div>
  </div>
  <div class="option-box">
    <ion-icon name="albums-sharp" size="large"></ion-icon>
    <div class="text-container">
      <p>Cuentas</p>
    </div>
  </div>
  <div class="option-box">
    <ion-icon name="newspaper-sharp" size="large"></ion-icon>
    <div class="text-container">
      <p>Presupuestos</p>
    </div>
  </div>
  <div class="option-box">
    <ion-icon name="trending-up-sharp" size="large"></ion-icon>
    <div class="text-container">
      <p>Ahorro</p>
    </div>
  </div>
  <div class="option-box">
    <ion-icon name="stats-chart-sharp" size="large"></ion-icon>
    <div class="text-container">
      <p>Predicciones</p>
    </div>
  </div>
  <div class="option-box">
    <ion-icon name="document-text-sharp" size="large"></ion-icon>
    <div class="text-container">
      <p>Reportes</p>
    </div>
  </div>
  <div class="option-box">
    <ion-icon name="cog-sharp" size="large"></ion-icon>
    <div class="text-container">
      <p>Configuración</p>
    </div>
  </div>
</ion-content>
