.option-box {
  display: flex;
  align-items: center;
  background-color: #faf6e9;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin-right: 85%;
  font-size: 15.9px;
}

.option-box ion-icon {
  color: #3a3a3a;
  margin-right: 16px;
}
