.dashboard-layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.first-content {
  width: 15%;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 6%;
  margin-top: 3%;
  color: #333;
}

.button-transacciones {
  --background: #494949;
  --color: white;
  margin-left: 650px;
  width: 87%;
  font-size: 12px;
}

.button-transacciones:hover {
  --background: black;
}

.chart-section h2 {
  margin-bottom: 10px;
  margin-left: 6%;
}

.chart-placeholder {
  border: 1px solid #ddd;
  height: auto;
  width: 84%;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 23%;
  margin-left: 6%;
}

.summary-cards {
  display: flex;
  margin-bottom: 30px;
  margin-left: 42px;
  margin-top: 50px;
}

.card {
  padding: 15px;
  width: 20%;
}

.cuentas-grid {
  width: 100%;
  font-size: 14px;
}

.header-row {
  background-color: #f0f0f0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

ion-row {
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 0;
}

ion-col {
  text-align: left;
}
