<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <div class="header-content">
      <ion-buttons slot="start" class="md:hidden">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ pageTitle }}</ion-title>

      <ion-buttons slot="primary" class="selected-account-display">
        <ion-button (click)="openAccountSelector()">
          <ion-icon name="wallet-outline" slot="start"></ion-icon>
          <ion-label *ngIf="selectedAccount">{{ selectedAccount?.nombre }}</ion-label>
          <ion-label *ngIf="!selectedAccount">Selecciona Cuenta</ion-label>
          <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-searchbar
        class="search-bar"
        placeholder="Search..."
      ></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>
