<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <div class="header-content">
      <ion-buttons slot="start" class="md:hidden">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ pageTitle }}</ion-title>

      <div style="margin-left: 20px; font-size: 0.9em; color: #555;">
        Selected Account: {{ selectedAccountName }}
      </div>

      <ion-searchbar
        class="search-bar"
        placeholder="Search..."
      ></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>
